/*	Batter (Light): ffe9ce		*/
/*	Batter (Dark): e5d0b7		*/
/*	Frosting (Light): ffa1bb	*/
/*	Frosting (Dark): ff6d96		*/
:root {
 --batter-light: #ffe9ce;
 --batter-dark: #e5d0b7;
 --frosting-light: #ffa1bb;
 --frosting-dark: #ff6d96;
}
a{
 text-decoration: none;
}
small{
 padding-left: 20px;
}
hr{
 border-top: 1px solid;
 border-top-color: var(--batter-dark);
}
table{
 margin-left: unset;
 margin-right: unset;
}
h1{
 color: var(--frosting-dark);
}
h2{
 color: var(--frosting-dark);
}
table td{
 border-bottom: none;
 font-size: 90%;
}
table tr:nth-child(even) {
  background: none;
}
table tr:nth-child(odd) {
  background: var(--batter-dark);
  border-radius: 1px;
}
table tr:nth-child(1) {
 background: none;
 border-bottom: 1px solid var(--batter-dark);
}
.empty{
 display: none;
}
#bannerimage {
  width: 100%;
  background-image: url(/docs/assets/images/cake_Banner.png);
  height: 100px;
  background-color: transparent;
  background-position: center;
  float: inline-end;
  margin-bottom: 50px;
}
.copyRight{
  border-top: 1px solid var(--batter-dark);
}
#forceTOC a{
  color: black;
}